/* Add this to the beginning of your BMI.css or global CSS file */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bmi-wrapper {
  max-width: 1000px; /* Adjusted for a wider container */
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  flex: 1;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.bmi-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bmi-info {
  max-width: 400px;
  margin: 0 20px;
  padding: 20px;
  flex: 1; /* Ensures the text container takes available space */
}

.bmi-container {
  max-width: 400px;
  margin: 0 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  flex: 1; /* Ensures the calculator takes available space */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 15px;
}
